<!doctype html>
<html>
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!--Fonts from Google Fonts--><link rel="preconnect" href="https://fonts.googleapis.com">
    <!--Fonts from Google Fonts--><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--Fonts from Google Fonts--><link href="https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <!--Fonts from Google Fonts--><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--CSS Styles--><link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/canvas.css') }}">
    <!--CSS Styles--><link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/buttons.css') }}">
    <!--CSS Styles--><link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/base.css') }}">
    <!--CSS Styles--><link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/survey.css') }}">

    <!--JavaScript--> <script src="{{ url_for('static', filename='scripts/canvas.js') }}"></script>
    <!--Socketio--> <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <!--jQuery--> <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<h1>Joint-Pursuit Experiment</h1>
<!--    <nav class="navbar">-->
<!--        <a class="navbar-brand" href="#">MOS Research</a>-->
<!--        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--	     <span class="navbar-toggler-icon"></span>-->
<!--	 </button>-->
<!--        <div class="navbar" id="navbarNav">-->
<!--            <ul class="navbar">-->
<!--                <li class="nav-item active"> <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> </li>-->
<!--                <li class="nav-item"> <a class="nav-link" href="#">Participation</a> </li>-->
<!--                <li class="nav-item"> <a class="nav-link" href="#">Studies</a> </li>-->
<!--                <li class="nav-item">  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> </li>-->
<!--&lt;!&ndash;                <li class="dropdown">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    <button class="dropbtn">Dropdown&ndash;&gt;-->
<!--&lt;!&ndash;                        <i class="fa fa-caret-down"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                    </button>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="dropdown-content">&ndash;&gt;-->
<!--&lt;!&ndash;                        <a href="#">Link 1</a>&ndash;&gt;-->
<!--&lt;!&ndash;                        <a href="#">Link 2</a>&ndash;&gt;-->
<!--&lt;!&ndash;                        <a href="#">Link 3</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </li>&ndash;&gt;-->
<!--            </ul>-->
<!--        </div>-->
<!--    </nav>-->
<ul class="topnav">
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>

  <li class="dropdown right">
    <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </li>
</ul>
    {% block content %}
    {% endblock %}
</body>
</html>